.menu-opcoes {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color: #fff;
    text-decoration: none;
}
.menu-opcoes a:hover {
    color: #007dc6;
}
.menu-opcoes ul li {
    display: inline;
}

.container {
    background-color: #005fa4;
}