.menu-opcoes {
    font-weight: bold;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.container-top {
    background-color: #005ca1;
}

.center {
    flex-direction: column;
    flex: 30%;
}
.left {
    flex-direction: column;
    flex: 10%;
}
.right {
    flex-direction: column;
    flex: 10%;
}

.search-centered {
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-logo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00549A;
    font: bold 13px Arial, Helvetica, sans-serif;
}
.container-servico {
    display: flex;
    padding: 20px;
    font: 10pt Verdana, Geneva, sans-serif;
}

.menu-informacoes a {
    text-decoration: none;
    padding: 10px;
    color: #00549a;
}
.menu-informacoes ul li {
    display: flex;
}

.menu-opcoes a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
.menu-opcoes ul li {
    display: inline;
}

#adm {
    color: #00549a;
}