.menu-opcoes {
    font-weight: bold;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.container-top {
    background-color: #005ca1;
}

.center {
    flex-direction: column;
    flex: 30%;
}
.left {
    flex-direction: column;
    flex: 10%;
}
.right {
    flex-direction: column;
    flex: 10%;
    align-content: center;
    justify-content: center;
}
.right-search {
    flex-direction: column;
    flex: 10%;
    align-content: center;
    justify-content: center;
    background-color: #00549A;
    padding: 5px;
}
.search-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}
.search-centered label {
    color: aliceblue;
}

.search-background {
    background-color: #00549A;
}

.left-logo {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 24%;
}

.left-image {
    display: flex; 
    padding: 0% 3% 0% 23%;
    align-items: flex-start;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00549A;
    font: bold 13px Arial, Helvetica, sans-serif;
}
.container-servico {
    display: flex;
    padding: 50px;
    font: 10pt Verdana, Geneva, sans-serif;
}

.menu-informacoes a {
    text-decoration: none;
    padding: 3%;
    color: #00549a;
}
.menu-informacoes ul li {
    display: flex;
    border-top: 1px solid #D6D3B8;
    border-bottom: 1px solid #D6D3B8;
}
.menu-informacoes ul li:hover {
    background-color: #78788a1f;
}

.menu-opcoes a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
.menu-opcoes ul li {
    display: inline;
}

.artigo-centered {
    position: relative;
    width: 460px;
}

.caption {
    font: 8pt Verdana, Geneva, sans-serif;
    line-height: 140%;
}

#adm {
    color: #00549a;
    font: 15pt Verdana, Geneva, sans-serif;
}